# Dependencies
node_modules/

# Next.js & TypeScript Build outputs
.next/
dist/
out/
build/

# Temporary media test downloads & binaries
backend/tmp/
*.part
*.m4a
*.webm

# Local Environment Variables
.env
.env.local
.env.development.local
.env.production.local

# Logs & Temporary files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
